 /*basicreset{{{*/
:root{
  --color1:rgb(2, 21, 38);
  --color2:rgb(3, 52, 110);
  --color2v:rgb(0, 48, 104);
  --color3:rgb(110, 172, 218);
  --color4:rgb(226, 226, 182);
  --color5:rgb(0, 128, 128);
  --color6:rgb(64, 224, 208);
   font-family: Helvetica;
}

body{
  background-color: var(--color1);
  color:white;
  height:100%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
ul{
  padding:0;
}
li{
 list-style-type: none;
}
 /*}}}*/

/*head{{{*/
body{
  display:grid;
  grid-template-columns: auto max(60%,800px) auto;
  justify-content:center;
  color:white;
}

.top-title{
  padding:10px 0;
  font-size:28px;
  align-items:center;
  font-weight:bold;
}
.topname>img{
  align-self:center;
}

.container{
  grid-column: 2/3;
  background-color: var(--color2v);
}

img{
  height:40px;
  width:auto;
}

.header{
  display:grid;
  margin:40px;
}

.topname{
  display:flex;
  justify-content:space-between;
  padding:10px 0;
}
.techstack{
  /*background-color: black;*/
  display:flex;
  flex-wrap:wrap;
  padding:20px;
}
/*}}}*/

.content{
  display:grid;
  gap:20px;
  grid-template-rows: 30px auto 30px auto 30px auto;
}
.main-title{

}
.main-projects{
  /*background-color: grey;*/
}
.top-projects{
  /*background-color: green;*/
}
.hobbies{
  /*background-color: blue;*/
}

.main-title{
  margin:10px;
  font-weight: bold;
  font-size:25px;

}
.main-projects,
.top-projects,
.hobbies{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:10px;
  margin:10px
}

.card{
  display:grid;
  grid-template-columns: 180px auto; 
  grid-template-rows: 30px auto auto; 
  padding:10px;
  margin:2px;
  /*background-color: var(--color1);*/
}

.card>img{
  grid-column:1/2;
  grid-row:1/4;
  border:10px solid black;
}
.card>.title{
  grid-column: 2/3;
  grid-row: 1/2;
  color:white;
  font-weight:1000;
  font-size:20px;
}

.card>.description{
  grid-column: 2/3;
  grid-row: 2/3;
  color:white;
}
.card-techstack{
  grid-column: 2/3;
  grid-row: 3/4;
  display:flex;
  flex-flow:wrap;
}

.card-icon{
  height:180px;
  border-radius:50px;
  width:auto;
}

a{
  text-decoration:none;
}
a:hover{
    background-color: blue;
    color: black;
}

h1{
  color:white;
  font-size:20px;
  align-content:center;
  height:40px;
}
.main-title{
  background-color: var(--color1);
  padding:10px 20px ;
}

.wip{
  padding:20px;
}

.wip{
  padding:20px;
}
